.up{
    margin-top: 25px;
}
.sub-content{
    margin-top: 50px;
    margin-bottom: 90px;
}
.search{
    width: 80%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    
}