.t1{
    font-size: 30px;
    font-weight: bolder;
    margin-left: -1000px;
}
.ipt{
    padding: 10px;
    border: 1px solid black;
    width: 80%;
    border-radius: 20px;
    font-size: 20px;
}
.largeInput{
    padding: 10px;
    border: 1px solid black;
    width: 80%;
    height: 150px;
    border-radius: 20px;
    font-size: 20px;
}
.btn2{
    width: 80%;
    background-color: rgb(45, 45, 218);
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    color: white;
}